* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
p{
  padding-left: 10px;
  padding-right: 10px;
}
/*working on header for page*/
.header_box {
	width: 90%;
	margin: 0 auto;
}
h2{
  background-color: #3f3f3f;
}
header {
  background: black;
}
body{
  color: red;
  background-color: black;
}
header::after {
  content: '';
  display: table;
  clear: both;
}
.rap_logo {
  float: left;
  padding: 10px 0;
  width: 79px;
  height: 79px;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li{
  display: inline-block;
  margin-left: 70px; 
  padding-top: 25px;
}
nav, ul, li, a{
  color: red;
  text-decoration: none; 
  transition: all 0.5s ease;
}
nav a:hover{
   color: #B4975A;
}


/*working on footer*/
footer{
  background-color: black;
  padding-top: 20px;
}
.footer_row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: bl;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: red;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
  font-family: sans-serif;
}

.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer-col ul li a{
	font-size: 13px;
	text-transform: capitalize;
	color: red;
	text-decoration: none;
	font-weight: 300;
	display: block;
	padding-top: 10px;
}
/*animation for footer items*/
.footer-col ul li a:hover{
	text-decoration: underline;
  color: #B4975A;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: black;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: red;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #B4975A;
	background-color: black;
}
.content_title{
  padding-top: 0;
  text-align: center;
  padding-bottom: 40px;
  color: #B4975A;
}
.content_box{
  background-image: url("https://images.daznservices.com/di/library/NBA_Global_CMS_image_storage/6/40/raptors-playoff-history-split-playingsurface_n5b12ecu9ikr14nuwi9wzrsvk.png?t=-1184703431&quality=80");
  background-position:center top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 80px;
  padding-top: 40px;

}
#failure{
}
/*working on nav buttons to help navigate the page*/
.nav_button{ 
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
#history_button{
  padding: 15px 35px;
  background-color: red;
  border: none;
  color: black;
  font-size: 16px;
}
#failure_button{
  padding: 15px 35px;
  background-color: #753BBD;
  border: none;
  color: black;
  font-size: 16px;
}
/*working on history div*/
.first_game{
 text-align: center;
 padding-top: 30px;
}
/*working on failure div*/
.failure_box{
  color: #753BBD;
}
.lebron_james{
 text-align: center;
 padding-top: 20px;
 color: red;
}
.game_7{
  text-align: center;
  padding-top: 20px;
  color: red;
}
/*styling for Trivia, plus animations for interactive parts*/
.flex{
  display: flex;
  padding-top: 20px;
  padding-bottom: 30px;
}
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px;
  padding: 10px;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: red;
  color: white;
  transform: rotateY(180deg);
}
#correct{
  background-color: green;
}
/*working on the table*/
.playoff_title{
   background-color: #3f3f3f;
   color: red;
   margin-bottom: 10px;
}
.table {
    color: black;
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    background-color: white;
    padding-bottom: 20px;

}
.table td, .table th {
    text-align: center;
    padding: 8px;
}
.table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}
.table thead th {
    color: black;
    background: #753BBD;
}
.table thead th:nth-child(odd) {
    color: black;
    background: red;
}
.table tr:nth-child(even) {
    background: #ffe3e3;
}
.table tr:nth-child(odd) {
    background: #ebd6ff;
}

